<ion-view view-title="Schoonmaak hulpje">
  <ion-nav-buttons side="right">
    <a href="#/app/info" class="button button-icon button-clear ion-ios-information-outline"></a>
  </ion-nav-buttons>
  <ion-content>

    <div class="row">
      <div class="col">
        <a href="#/app/{{homePages[0].url}}/{{homePages[0].id}}/0"><img src="{{homePages[0].img}}" alt="{{homePages[0].title}}" height=""></a>
      </div>
      <div class="col">
        <a href="#/app/{{homePages[1].url}}/{{homePages[1].id}}/0"><img src="{{homePages[1].img}}" alt="{{homePages[1].title}}" height=""></a>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <a href="#/app/{{homePages[2].url}}/{{homePages[2].id}}/0 "><img src="{{homePages[2].img}}" alt="{{homePages[2].title}}" height=""></a>
      </div>
      <div class="col">
        <a href="#/app/{{homePages[3].url}}/{{homePages[3].id}}/0"><img src="{{homePages[3].img}}" alt="{{homePages[3].title}}" height=""></a>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <a href="#/app/{{homePages[4].url}}/{{homePages[4].id}}/0"><img src="{{homePages[4].img}}" alt="{{homePages[4].title}}" height=""></a>
      </div>
      <div class="col">
      </div>
    </div>

  </ion-content>
</ion-view>
