<ion-view view-title="Over de App">
    <ion-nav-buttons side="left">
        <a ng-click="homeInfo()" class="button button-icon button-clear ion-ios-arrow-left"> Home</a>
    </ion-nav-buttons>
    <ion-content>
        <div class="padding">
            <h4>Hoe houd ik mijn kamer schoon, <span></span></h4>
            <p><b>Teksten:</b> Marcel Oosting</p>
            <p><b>Illustraties:</b> Suzanne Jager en Pirmin Rengers</p>
            <p><b>Audio teksten:</b> Frits Emmelkamp</p>
            <p><b>App:</b> Michael Lanting en Yemna Osman</p>
            <p>Het handboek is tot stand gekomen met medewerking van clienten <b>Jonx BWJ Munsterheerd Beijum</b>.</p>
            <p>De Applicatie is ontwikkeld door leerlingen van het <b>Noorderpoort voor Kunst en Multimedia</b>.</p>
        </div>
    </ion-content>
</ion-view>

<script>
    var date = new Date();
    $('h4>span').html(date.getFullYear());
</script>
