<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-dark">

            <!-- Hier word de terug knop aangeroepen -->
            <!-- <ion-nav-back-button></ion-nav-back-button> -->

            <ion-nav-buttons side="left">
                <button id="listMenu" class="button button-icon button-clear ion-navicon"  menu-toggle="left"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left" ng-controller="listCtrl">

        <ion-header-bar class="bar-energized">
            <button class="button button-icon ion-ios-minus-outline" ng-click="data.showDelete = !data.showDelete"></button>
            <h1 class="title">Lijstje</h1>
            <button class="button button-icon ion-ios-plus-outline" ng-click="newTask()"></button>
        </ion-header-bar>

        <ion-content scroll="true">
            <ion-list show-delete="data.showDelete">

                <ion-item href="#/task/{{item.id}}" class="item-remove-animate" ng-repeat="item in items track by $index" item="item">
                    {{item.title}}
                    <ion-delete-button class="ion-minus-circled" ng-click="deleteTask($index)"></ion-delete-button>
                </ion-item>

            </ion-list>
        </ion-content>

    </ion-side-menu>

</ion-side-menus>
