<div class="modal">

    <!-- Modal header bar -->
    <ion-header-bar class="bar-secondary">
        <h1 class="title">Voeg boodschap toe</h1>
        <button class="button button-clear button-positive" ng-click="closeNewTask()">Annuleren</button>
    </ion-header-bar>

    <!-- Modal content area -->
    <ion-content>

        <form ng-submit="createTask(item)">
            <div class="list">
                <label class="item item-input">
                    <input type="text" placeholder="Wat heb je nodig?" ng-model="item.title" autofocus>
                </label>
            </div>
            <div class="padding">
                <button type="submit" class="button button-block button button-dark">Voeg toe</button>
            </div>
        </form>

    </ion-content>

</div>
