<ion-view view-title="{{page[0].header}}">
    <ion-nav-buttons side="left">
        <a ng-click="home()" class="button button-icon button-clear ion-ios-arrow-left"> Home</a>
    </ion-nav-buttons>
    <ion-content>

        <div class="card">
            <div class="item item-divider">
                {{page[0].title}}
            </div>
            <div class="item item-text-wrap">
                {{page[0].content}}
            </div>
        </div>

        <div class="buttons row responsive-sm">
            <div id="soundButton">
                <button class="button button-stable button-block ion-volume-high volume read" ng-click="playSound('{{page[0].sound}}')"> Voor laten lezen</button>
            </div>
            <div class="button-bar">
                <a id="prevStep{{page[0].prev}}" class="button button-stable" href="#/app/{{page[0].url}}/{{page[0].pageID}}/{{page[0].prev}}">Vorige</a>
                <a id="nextStep{{page[0].next}}" class="button button-stable" href="#/app/{{page[0].url}}/{{page[0].pageID}}/{{page[0].next}}">Volgende</a>
            </div>
        </div>

    </ion-content>
</ion-view>
