<ion-view view-title="Wassen">
    <ion-nav-buttons side="left">
        <a ng-click="home()" class="button button-icon button-clear ion-ios-arrow-left"> Home</a>
    </ion-nav-buttons>
    <ion-content>
        <ion-list>
            <ion-item>
                Kies uit een van de volgende dingen.
            </ion-item>
            <ion-item ng-repeat="page in wassenPages">
                <a href="#/app/{{page.url}}/{{page.id}}/0">{{page.title}}</a>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
