/*
* Disable the sound button for android only...
*/
.platform-android #soundButton {
    display: none;
}

#soundButton button {
    margin-top: 0;
}

img{
    width: 100%;
    margin: auto;
}

.item-text-wrap {
  min-height: 125px;
}

a {
  text-decoration: none;
  color: #337ab7;
}
